@import "../../../../scss/mixins";
@import "../../../../scss/variables";

@media (min-width: 768px) {
  .container {
    height: 100vh;
    .header {
      background-color: $dark-green;
      padding: 10px 2px;
      .wrapper {
        @include flex(space-between, center);
        padding: 0px 15px;
        .profile-picture {
          border-radius: 50%;
          width: 2.5rem;
          img {
            border-radius: 50%;
            width: 2.5rem;
          }
        }
        .title {
          color: $white;
        }
        .gear {
          width: 2rem;
          img {
            width: 2rem;
          }
        }
      }
    }
    .friends {
      background-color: $gray;
      height: 100%;
      padding: 15px 6px;
      .friend {
        position: relative;
        margin-bottom: 20px;
        @include flex(start, center);
        .profile-picture {
          border-radius: 50%;
          margin-right: 20px;
          width: 2rem;
          img {
            border-radius: 50%;
            width: 2rem;
          }
        }
        .status {
          position: absolute;
          right: 10px;
          .tick-icon {
            width: 1rem;
            img {
              width: 1rem;
              mix-blend-mode: multiply;
            }
          }
        }
      }
    }
  }
}
