@import "../../../../scss/global";

.container {
  display: inline-flex;
  background-color: $gray;
  min-width: 200px;
  padding: 15px 5px;
  border-radius: 5px;
  .title {
    @include flex(start, center);
    gap: 10px;
    font-size: 14px;

    .icon {
      width: 2rem;
    }
  }
}
