<div class="container">
  <div class="wrapper">
    <div class="header">
      <div class="left">
        <div class="profile-picture">
          <img
            src="/User Images/AzizHmidi/ProfilePictures/profilepicture.png"
          />
        </div>
        <div class="about-model">
          <h3>{{ model.username }}</h3>
          <p>{{ model.status }}</p>
        </div>
      </div>
      <div class="right">
        <img src="/Images/Icons/call.png" />
        <img src="/Images/Icons/video.png" />
        <img src="/Images/Icons/more.jpg" />
      </div>
    </div>
  </div>
</div>
