@import "../../../scss/global";

@media (min-width: 768px) {
  .container {
    height: 100%;
    background-color: $plain-white;

    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1fr;

    overflow-y: hidden;
    position: relative;
  }
  .wide-container {
    grid-template-columns: 300px 1fr 300px;
  }
  .requests-popup {
    height: 100vh;
    position: absolute;
    top: 0px;

    width: 100%;
  }

  .first-time-cookie {
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, -50%);
    .subtitle {
      @include flex(center, center);
      gap: 10px;
      img {
        width: 2rem;
      }
    }
  }
}
