<div *ngIf="false">
  <div
    class="container"
    *ngIf="!isLoading"
    [ngClass]="{ 'wide-container': !isHiddenAbout }"
  >
    <app-panel
      [friends]="friends"
      [currentUser]="currentUser"
      (isLoadingEvent)="ReceiveIsLoading($event)"
    ></app-panel>
    <app-chat *ngIf="selectedUser"></app-chat>
    <app-about
      *ngIf="selectedUser && !isHiddenAbout"
      [currentUser]="currentUser"
    ></app-about>
    <div
      class="first-time-cookie"
      *ngIf="cookieService.get('first_time') === 'true'"
    >
      <div class="subtitle">
        <h1>Hello {{ currentUser?.username }}</h1>
        <img src="/Images/Icons/happy.png" alt="happy" />
      </div>
      <p>We hope you have an amazing time talking with your friends</p>
    </div>
  </div>
  <div class="requests-popup" [hidden]="!isInSendRequest" *ngIf="!isLoading">
    <app-requests-popup [currentUser]="currentUser"></app-requests-popup>
  </div>
  don't forget to remove if for isloading
  <div *ngIf="false">
    <app-spinner *ngIf="isLoading"></app-spinner>
  </div>
</div>
<app-notification></app-notification>
