@import "../../../scss/mixins";
@import "../../../scss/variables";

@media (min-width: 768px) {
  .container {
    height: 100vh;
    nav {
      position: sticky;
      top: 0px;
      z-index: 2;

      background-color: $green;
      margin-bottom: 50px;

      .wrapper {
        padding: 0px 50px;
        @include flex(space-between, center);
        .logo {
          width: 4rem;
          img {
            width: 4rem;
          }
        }
        .items {
          ul {
            li {
              color: $white;
              list-style: none;
              cursor: pointer;
              &:hover {
                text-decoration-line: underline;
                text-decoration-color: $white;
                text-decoration-thickness: 2px;
              }
            }
          }
        }
      }
    }
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 30px;
      padding: 20px 50px;

      .login {
        .title {
          user-select: none;
          h1 {
            font-size: 72px;
            background: linear-gradient(90deg, $light-green, $green);
            -webkit-background-clip: text;
            color: transparent;
            display: inline-block;
          }
          p {
            margin: 10px 0px;
            color: $green;
            font-size: 18px;
          }
        }
        .form-part {
          margin-top: 20px;
          form {
            * {
              display: block;
            }
            input:not([type="checkbox"]) {
              border: none;
              border-radius: 5px;
              background-color: lighten($gray, 15%);
              padding: 8px;
              font-size: 18px;
              margin-top: 15px;
              width: 250px;
              &::placeholder {
                color: $black;
              }

              &:focus {
                outline: none;
              }
            }

            .form-checkbox-group {
              margin: 15px 0px;
              label {
                @include flex(start, center);
                input {
                  margin-right: 15px;
                }
              }
            }
            .actions {
              @include flex(start, center);
              button:is([type="button"]) {
                padding: 0.8em 1.8em;
                border: 2px solid #17c3b2;
                position: relative;
                overflow: hidden;
                background-color: transparent;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;
                transition: 0.3s;
                z-index: 1;
                font-family: inherit;
                color: #17c3b2;
                border-radius: 20px;
                width: 100px;
                cursor: pointer;
                margin-right: 10px;
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                  "Trebuchet MS", sans-serif;

                &:hover {
                  color: #111;
                  background: darken($green, 1);
                }

                &::before {
                  content: "";
                  width: 0;
                  height: 300%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(45deg);
                  background: #17c3b2;
                  transition: 0.5s ease;
                  display: block;
                  z-index: -1;
                }

                &:hover::before {
                  width: 105%;
                }
              }

              .forgot-password {
                font-size: 16px;
                color: $dark-green;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .password-group {
              position: relative;
              width: 250px;
              .icon {
                position: absolute;
                right: 20px;
                bottom: 50%;
                transform: translate(50%, 50%);
                width: 1.5rem;
                user-select: none;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
        .information-text {
          margin-top: 30px;
          user-select: none;
          p {
            font-size: 36px;
            font-weight: 400;
          }
        }
      }
      .info {
        position: relative;
        z-index: 1;
        width: 100%;
        border-radius: 15px;
        @include flex(center, center);
        img {
          width: 25rem;
        }
        .text {
          position: absolute;
          width: 20rem;
        }
      }
    }
  }
  .error {
    border: 1px solid red !important;
  }
  .error-text {
    color: red;
  }
}
