@import "../../../../scss/global";

.container {
  width: 150px;
  border-radius: 15px;
  z-index: 1000;
  background-color: $white;
  ul {
    li {
      list-style: none;
      color: black;
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: $yellowish-green;
      }
      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}
