<div class="container">
  <div class="user">
    <div class="profile-picture">
      <img src="/User Images/AzizHmidi/ProfilePictures/profilepicture.png" />
    </div>
    <h3>Yasmin Hmidi</h3>
  </div>

  <div class="info">
    <div>
      <button><img src="/Images/Icons/profile.png" /></button>
      <span>profile</span>
    </div>
    <div>
      <button><img src="/Images/Icons/bell.png" /></button>
      <span>mute</span>
    </div>
    <div>
      <button><img src="/Images/Icons/search.png" /></button>
      <span>search</span>
    </div>
  </div>
  <div class="more">
    <ul>
      <li>
        <span>Chat Info</span>
        <img src="/Images/Icons/right-arrow.png" />
      </li>
      <li>
        <span>Customize Chat</span>
        <img src="/Images/Icons/right-arrow.png" />
      </li>
      <li>
        <span>Media and Files</span>
        <img src="/Images/Icons/right-arrow.png" />
      </li>
      <li>
        <span>Privacy and Support</span>
        <img src="/Images/Icons/right-arrow.png" />
      </li>
    </ul>
  </div>
</div>
