@import "../../../../scss/global";

.container {
  display: inline-flex;
  min-width: 200px;
  padding: 15px 5px;
  border-radius: 5px;
  z-index: 9999;
  animation: fadeIn 6s ease-in-out;
  .title {
    @include flex(start, center);
    gap: 10px;
    font-size: 14px;

    .icon {
      width: 2rem;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.info {
  background-color: $gray;
}
.warning {
  background-color: lighten($red, 30%);
}

.success {
  background-color: darken($white, 10%);
  color: $black;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
