<div class="container">
  <div class="wrapper">
    <div class="header">
      <div class="left">
        <div class="profile-picture">
          <img
            src="/User Images/AzizHmidi/ProfilePictures/profilepicture.png"
          />
        </div>
        <div class="about-model">
          <h3>{{ friend?.username }}</h3>
          <p>status</p>
        </div>
      </div>
      <div class="right">
        <img src="/Images/Icons/call.png" />
        <img src="/Images/Icons/video.png" />
        <img src="/Images/Icons/more.jpg" (click)="ToggleAbout()" />
      </div>
    </div>
  </div>
  <div class="messages" #main>
    <div
      class="message"
      *ngFor="let message of messages"
      [ngClass]="{ right: message.senderId !== friend?.id }"
      [id]="'message-' + message.id"
    >
      <div
        class="profile-picture"
        [ngStyle]="{
          display: message.senderId !== friend?.id ? 'none' : 'block'
        }"
      >
        <img src="User Images/profilepicture.png" />
      </div>
      <div
        class="message-body"
        [ngClass]="{ 'own-message': message.senderId !== friend?.id }"
        [id]="message.id"
        appMessage
        [messageId]="message.id"
        [messageOwn]="message.senderId !== friend?.id ? true : false"
      >
        {{ message.body }}
      </div>
    </div>
  </div>
  <div class="add-message">
    <form [formGroup]="form">
      <img src="Images/Icons/image.png" class="image" />
      <img src="Images/Icons/gif.png" class="gif" />
      <input
        type="text"
        placeholder="Aa"
        class="send-message"
        formControlName="send"
        appMessageInput
        (keydown)="OnSubmit($event)"
        [disabled]="isSending"
      />
      <button
        type="button"
        class="submit-btn"
        [disabled]="isSending"
        (click)="OnSubmit()"
      >
        <img src="Images/Icons/send.png" class="send" />
      </button>
    </form>
  </div>
</div>
<app-context-menu></app-context-menu>
