@import "../../../../scss/global";

@media (min-width: 768px) {
  .container {
    height: 100vh;
    .header {
      background-color: $dark-green;
      padding: 10px 2px 0px 2px;
      height: 64px;
      @include flex(space-between, center);
      @include flex(space-between, center);
      padding: 0px 15px;

      .title {
        color: $white;
      }

      .dropdown-settings {
        position: relative;

        .gear {
          width: 1.5rem;
          img {
            width: 1.5rem;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .dropdown {
          width: 100px;
          font-size: 14px;
          text-align: left;
          z-index: 3;
          background-color: $white;

          position: absolute;
          right: 50%;
          transform: translate(50%, 10%);

          ul {
            .dropdown-username {
              text-align: center;
              cursor: default;
              padding: 10px 10px 0px 10px;
              font-weight: bold;
            }
            hr {
              margin: 10px 0px;
            }
            li {
              padding: 10px;
              list-style: none;
              cursor: pointer;
              &:hover {
                background: darken($gray, 20%);
              }
            }
          }
        }
      }
    }
    .users {
      background-color: $gray;
      padding: 15px 6px;
      height: calc(100% - 65px);

      .search {
        margin-bottom: 20px;
        @include flex(space-between, center);
        form {
          @include flex(center, center);
          width: 100%;
          .input-group {
            width: 100%;
            position: relative;
            .icon {
              height: 100%;
              width: 2rem;
              @include flex(start, center);
              img {
                mix-blend-mode: multiply;

                position: absolute;
                left: 5%;
                z-index: 2;
                top: 50%;
                transform: translateY(-50%);

                width: 2rem;
              }
            }
            input {
              position: relative;
              left: 5%;
              padding: 8px 8px 8px 2rem;
              border: 1px solid transparent;
              border-radius: 15px;
              outline: none;
              border: 1px 10px black;
              width: 90%;

              &::placeholder {
                font-weight: 700;
              }
            }
          }
        }

        .media {
          @include flex(center, center);
          img {
            width: 1rem;
            mix-blend-mode: multiply;
            cursor: pointer;
            user-select: none;
          }
          .notification-icon {
            position: relative;
            .bell {
              margin: auto 0;
            }
            .circle {
              position: absolute;
              bottom: -2px;
              right: -5px;

              background-color: $red;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
          }
        }
      }

      .friends {
        .friend {
          @include flex(start, center);
          position: relative;
          padding: 10px 5px;
          border-radius: 5px;
          cursor: pointer;
          user-select: none;

          .profile-picture {
            border-radius: 50%;
            margin-right: 20px;
            width: 3rem;
            img {
              border-radius: 50%;
              width: 3rem;
            }
          }
          .status {
            position: absolute;
            right: 10px;
            .tick-icon {
              width: 1rem;
              img {
                width: 1rem;
                mix-blend-mode: multiply;
              }
            }
          }

          &:active {
            background-color: lighten($gray, 20%);
          }
        }
      }

      .notifications {
        .friend-requests {
          .friend-request {
            @include flex(start, center);
            position: relative;
            padding: 10px 5px;
            border-radius: 5px;
            cursor: pointer;
            user-select: none;

            .profile-picture {
              border-radius: 50%;
              margin-right: 20px;
              width: 3rem;
              img {
                border-radius: 50%;
                width: 3rem;
              }
            }
            .status {
              @include flex(center, center);

              position: absolute;
              right: 10px;
              gap: 10px;
              img {
                width: 1.5rem;
                mix-blend-mode: multiply;
              }
            }
          }
        }
      }

      .other-members {
        .member {
          @include flex(start, center);
          position: relative;
          padding: 10px 5px;
          border-radius: 5px;
          user-select: none;

          .profile-picture {
            border-radius: 50%;
            margin-right: 20px;
            width: 3rem;
            img {
              border-radius: 50%;
              width: 3rem;
            }
          }
          .status {
            @include flex(center, center);
            position: absolute;
            right: 10px;
            .send-request-button,
            .unsend-request-button {
              align-items: center;
              background-color: $plain-white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 0.25rem;
              box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
              box-sizing: border-box;
              color: rgba(0, 0, 0, 0.85);
              cursor: pointer;
              display: inline-flex;
              font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
                Helvetica, Arial, sans-serif;
              font-size: 11px;
              font-weight: 600;
              justify-content: center;
              line-height: 1.25;
              margin: 0;
              min-height: 3rem;
              padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
              position: relative;
              text-decoration: none;
              transition: all 250ms;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
              vertical-align: baseline;
              width: 100px;

              &:hover,
              &:focus {
                border-color: rgba(0, 0, 0, 0.15);
                box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
                color: rgba(0, 0, 0, 0.65);
              }

              &:hover {
                transform: translateY(-1px);
              }
              &:active {
                background-color: #f0f0f1;
                border-color: rgba(0, 0, 0, 0.15);
                box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
                color: rgba(0, 0, 0, 0.65);
                transform: translateY(0);
              }
            }
            .unsend-request-button {
              background-color: $red;
              color: $plain-white;

              &:hover,
              &:focus {
                background: darken($red, 20%);
                color: darken($plain-white, 20%);
              }
            }
          }
        }
      }
    }
  }
}
